<!-- Footer Start -->
<!-- <footer class="py-4">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="text-sm-start text-center">
                    <p class="mb-0"><script>document.write(new Date().getFullYear())</script> © YCT Medicals.</p>
                </div>
            </div>end col

           
        </div>end row
    </div>end container
</footer>end footer -->
<!-- End -->

<!-- Back to top -->
<a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fs-5 rounded-pill text-center bg-primary justify-content-center align-items-center"><i data-feather="arrow-up" class="fea icon-sm"></i></a>
<!-- Back to top -->

<!-- Offcanvas Start -->
<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop">
    <div class="offcanvas-body d-flex align-items-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <h4>Search now.....</h4>
                        <div class="subcribe-form mt-4">
                            <form>
                                <div class="mb-0">
                                    <input type="text" id="help" name="name" class="border rounded-pill" required="" placeholder="Search">
                                    <button type="submit" class="btn btn-pills btn-primary">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </div>
</div>
<!-- Offcanvas End -->


<!-- javascript -->
<script src="{{ url_for('static', filename='assets/libs/tiny-slider/min/tiny-slider.js') }}"></script>
<script src="{{ url_for('static', filename='assets/libs/apexcharts/apexcharts.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/doctor-apexchart.init.js') }}"></script>
<script src="{{ url_for('static', filename='assets/libs/feather-icons/feather.min.js') }}"></script>
<!-- Main Js -->
<!-- JAVASCRIPT -->
<script src="{{ url_for('static', filename='assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins.init.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
</body>

</html>