<!-- Footer Start -->
<footer class="bg-footer-color shadow py-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">
                <div class="text-sm-start text-center">
                    <p class="mb-0 text-muted"><script>document.write(new Date().getFullYear())</script> © YCT Medical.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
<!-- End -->
</main>
<!--End page-content" -->
</div>
<!-- page-wrapper -->



<!-- javascript -->
<script src="{{ url_for('static', filename='assets/libs/simplebar/simplebar.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/libs/apexcharts/apexcharts.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/admin-apexchart.init.js') }}"></script>
<script src="{{ url_for('static', filename='assets/libs/feather-icons/feather.min.js') }}"></script>
<!-- Main Js -->
<!-- JAVASCRIPT -->
<script src="{{ url_for('static', filename='assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins.init.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>

</body>

</html>